backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/storage/*.db
backend/storage/*.json
*.pyc
.DS_Store
.env

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
